<% layout('/layouts/boilerplate') %>
<body>
    <main class="main">
        
        <img src="<%= data.image %>" alt="">
        <h2><%= data.title %></h2>
        <p><%= data.desc %></p>
        <p>Location : <%= data.location %></p>
        <p>Country : <%= data.country %></p>
        <p>Price :₹ <strong><%= data.price.toLocaleString("en-IN") %></strong></p>
        <div class="action-btns">
            <form method="get" action="/listings/search/<%= data._id %>/edit">
                <button class="new-listing edit-btn"> edit</button>
            </form>
            <form method="post" action="/listings/search/<%= data._id %>/remove?_method=DELETE">
                <button class="new-listing edit-btn"> Delete Listing</button>
            </form>
        </div>

        <div class="form-container">
            <h2>Add Reivew</h2>
            <form action="/listings/search/<%= data._id %>/submit-review" method="post">
                
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" id="title" name="rating" placeholder="Enter the title" required>
            </div>
            
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea id="description" name="comment" placeholder="Enter the description" required></textarea>
            </div>

            <button type="submit">Submit Review</button>
        </form>
    </div>

        <h4>Reviews</h4>
        <% if (data.reviews && data.reviews.length > 0) { %>
           
                <!-- Loop through each review and display it -->
               
                <% for(re of data.reviews){ %>
                    <div class="rating">
                    <p><strong>Rating:</strong> <%= re.rating %></p>
                        <p><strong>Review:</strong> <%= re.comment %></p>
                        <form method="post" action="/listings/search/<%= data._id %>/delete-review/<%= re._id %>?_method=DELETE">
                            <button class="new-listing edit-btn"> Delete</button>
                        </form>
                    </div>
                    <% } %>
                
        <% } else { %>
            <p>No reviews available for this listing.</p>
        <% } %>
        
       
       
    </main>
</body>
